body {
  background-color: rgba(243, 243, 243);
}

.title {
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 10px;
}
.index1 {
  width: 99%;
  height: 50px;
  /* border: 2px solid black; */
}

.index2 {
  margin-top: 20px;
  margin-left: 12px;
}

.container {
  border: 1px solid rgb(128, 117, 117, 0.5);
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}

.sub-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.main_content {
  display: flex;
}

.item {
  display: flex;
  flex: 1;
  margin: 3px 0;
}

.info_left {
  flex: 0 0 80%;
}

.info_right {
  text-align: right;
  flex: 1;
}

.tips {
  font-size: 14px;
  text-align: center;
  color: #9b9898;
}
